<h1>Redis Name Değerimiz: @ViewBag.Value</h1>
<h1>Redis Count Değerimiz: @ViewBag.Count</h1>
<h1>Redis Client Değerimizin belirli bir kısmı: @ViewBag.Client</h1>
<h1>Redis Client Değerimizin boyutu: @ViewBag.ClientLength</h1>

