@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a class="btn btn-primary" asp-controller="StringType" asp-action="Index">String Type Create</a>
<a class="btn btn-primary" asp-controller="StringType" asp-action="Show">String Type Show</a>

<a class="btn btn-danger" asp-controller="ListType" asp-action="Index">List Type Create</a>
<a class="btn btn-danger" asp-controller="ListType" asp-action="Show">List Type Show</a>

<a class="btn btn-warning" asp-controller="SetType" asp-action="Index">Set Type Create</a>
<a class="btn btn-warning" asp-controller="SetType" asp-action="Show">Set Type Show</a>

<a class="btn btn-success" asp-controller="SortedSetType" asp-action="Index">Sorted Set Type Create</a>
<a class="btn btn-success" asp-controller="SortedSetType" asp-action="Show">Sorted Set Type Show</a>                     
<a class="btn btn-info" asp-controller="HashType" asp-action="Index">Hash Type Create</a>
<a class="btn btn-info" asp-controller="HashType" asp-action="Show">Hash Type Show</a>